<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.login.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yxy.login.model.pojo.Order">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="NUM" jdbcType="VARCHAR" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PRODUCT_ID, USER_ID, NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yxy_order
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yxy_order
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yxy.login.model.pojo.Order">
    insert into yxy_order (ID, PRODUCT_ID, USER_ID, 
      NUM)
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{num,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yxy.login.model.pojo.Order">
    insert into yxy_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="num != null">
        NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxy.login.model.pojo.Order">
    update yxy_order
    <set>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        NUM = #{num,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxy.login.model.pojo.Order">
    update yxy_order
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryMyOerder" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yxy_order
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>